<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>
              Hi I'm <strong>Said LOUNNAS</strong> a young graduate with a bachelor’s degree in Information Technology. Currently in my second year of web development at the multimedia school of
              Paris, I'm looking for a work-study contract and would love to enter your company.
            </p>

            <p>
              I am determined to learn quickly and efficiently.
            </p>
            <p>
              Lover of innovation. Face problems with a smile and solve them as soon as possible.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>

            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone Number : </strong>
              </div>
              <div class="col-sm-8">+33 (0) 7 52 49 26 11</div>
            </div>

            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">EMAIL Address : </strong>
              </div>
              <div class="col-sm-8">
                <a href="mailto:s.lounnas1@gmail.com">contact@said-lounnas.com</a>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address : </strong>
              </div>
              <div class="col-sm-8">
                <div>Paris, France</div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language : </strong>
              </div>
              <div class="col-sm-8">
                <ul>
                  <li><b>Frensh : </b> Fluently</li>
                  <li><b>English : </b> Average</li>
                  <li><b>Kabyle : </b> Native Language</li>
                  <li><b>Spanish : </b> Beginner</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
