<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p></p>
            <div class="h5">Web Developer</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Second Year Of Graduate Studies</div>
            <h4 class="category">Multimedia Paris</h4>
            <ul>
              <li>The Second Year Is Based On The Creation Of Video Games And Applications</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p></p>
            <div class="h5">Web Developer</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">First Year of Graduate Studies</div>
            <h4 class="category">Multimedia Paris</h4>
            <ul>
              <li>The First Year Is Based On Web Development, Marketing And Digital Creation</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p></p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor Of Computer Science</div>
            <h4 class="category">UMMTO University</h4>
            <ul>
              <li>
                Bachelor’s Degree In Information Technology
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p></p>
            <div class="h5">Bachelor</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Scientific Baccalaureate</div>
            <h4 class="category">Tizi ouzou</h4>
            <ul>
              <li>The Bachelor Was Mainly focused On The Bases Of Science, Mathematics, And Physics</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
