<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/chat.jpg" alt="Card image" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">Chat App</h4>
              <h5 class="card-text"><b>Technologies :</b> JavaScript, HTML, CSS, jQuery, PHP</h5>
              <a href="https://github.com/SaidLOUNNAS/Chat_Site.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/Calculator.jpg" alt="picture" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">Calculator</h4>
              <h5 class="card-text"><b>Technologies :</b> HTML5, CSS3, ReactJS</h5>
              <a href="https://github.com/SaidLOUNNAS/React-Calculator.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/student.jpg" alt="Card image" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">Add User</h4>
              <h5 class="card-text"><b>Technologies :</b> ReactJS, Bootstrap, firebase</h5>
              <a href="https://github.com/SaidLOUNNAS/React_App.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/space.jpg" alt="picture" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">Space Shooter Game</h4>
              <h5 class="card-text"><b>Technologies :</b> PICO-8, JS</h5>
              <a href="https://github.com/SaidLOUNNAS/PICO-8_Game.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/Leap.jpg" alt="Card image" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">Leap Motion Game</h4>
              <h5 class="card-text"><b>Technologies :</b> JS, WebGL</h5>
              <a href="https://github.com/SaidLOUNNAS/Leap-Motio-Game.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/vaisseau_3D.png" alt="Card image" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">Spaceship 3D</h4>
              <h5 class="card-text"><b>Technologies :</b> CINEMA 4D</h5>
              <a href="https://github.com/SaidLOUNNAS/vaisseau_3D.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/WebGL.jpg" alt="Card image" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">3D_Games</h4>
              <h5 class="card-text"><b>Technology :</b> WebGL</h5>
              <a href="https://github.com/SaidLOUNNAS/3D_Games.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/template.jpg" alt="picture" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">Template HTML/CSS</h4>
              <h5 class="card-text"><b>Technologies :</b> HTML/CSS</h5>
              <a href="https://github.com/SaidLOUNNAS/-Template-HTML-CSS.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/website.jpg" alt="Card image" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">News website model</h4>
              <h5 class="card-text"><b>Technologies :</b> HTML, CSS</h5>
              <a href="https://github.com/SaidLOUNNAS/Site-Html-css.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/artiste.png" alt="Card image" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">Artist Website</h4>
              <h5 class="card-text"><b>Technologies :</b> JS, HTML, SASS, JQuery</h5>
              <h5 class="card-text"><a href="https://said-lounnas.web.app">View my Live Demo</a></h5>
              <a href="https://github.com/SaidLOUNNAS/artist-website.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="../../../assets/picture/ionic_angular.jpg" alt="Card image" style="width: 100%;" />
            <div class="card-body">
              <h4 class="card-title">Internship Project</h4>
              <h5 class="card-text">
                <b>Technologies :</b> <br />
                Angular/Ionic
              </h5>
              <h5 class="card-text"><a href="https://applicationangular-be630.web.app/classes">View my Live Demo</a></h5>
              <a href="https://github.com/SaidLOUNNAS/stage.git" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
