<div class="profile-page" id="Home">
  <div class="wrapper">
    <div class="page-header page-header-small" filter="contrast(200%)">
      <div class="page-header-image" data-parallax="true" style="background-image: url('../../../assets/picture/header.jpg"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#contact">
              <img src="../../../assets/picture/profil.jpg" alt="profil" />
            </a>
          </div>
          <div class="h2 title">Said LOUNNAS</div>
          <p class="category text-white">Web / React / Angular DEVELOPER</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
          <a class="btn btn-primary" href="#" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"> <i class="fa fa-download"></i> Download CV </a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Follow Me On Google+">
              <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/said-l-b4069a1a9/" target="_blank" rel="tooltip" title="Follow Me On Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>

            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/SaidLOUNNAS" target="_blank" rel="tooltip" title="My Github">
              <i class="fa fa-github"></i>
            </a>

            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/Lounnassaid1" target="_blank" rel="tooltip" title="Follow Me On Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
